<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line pay 訂單</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    order id:<%= order.orderId %>
    $:<%= order.amount %>
    id:<%= order.packages[0].id %>
    <form action="/createOrder/<%= order.orderId %>" method="post">
        <button type="submit">送出表單 </button>
    </form>
</body>

</html>